*{
    box-sizing: border-box;
}
body{
    background-color: rgb(13, 171, 155);
}
.caja-1{
    background-color: burlywood;
    width: 90%;
    height: 130px;
    margin: 20px auto;
}
.caja-2{
    background-color: burlywood;
    width: 90%;
    height: 330px;
    margin: 20px auto;
}
.contenedor{
    background-color: none;
    width: 90%;
    height: 330px;
    margin: 20px auto;
    display: block;
}
.izquierda{
    background-color: burlywood;
    width: 49%;
    height: 330px;
    float: left;
}
.derecha{
    background-color: burlywood;
    width: 49%;
    height: 330px;
    float: left;
}